.containerTabla{
    margin-top: 10px !important;
    margin-left: 280px !important; 
}

.MuiTypography-h6 {
    font-family: DM Sans !important;
      font-style: bold !important;
      font-weight: normal !important;
      font-size: 46px !important;
      line-height: 20px !important;
      letter-spacing: 0.25px !important;   
      color:#2E3650 !important;
}
.MUIDataTableHeadCell-data-53 {
   font-family: DM Sans !important;
      font-style: bold !important;
      font-weight: bold !important;
      font-size: 16px !important;
      line-height: 20px !important;
      letter-spacing: 0.25px !important;   
      color:#2E3650 !important;
}
.MUIDataTableBodyCell-stackedCommon-75 {
   font-family: DM Sans !important;
      font-style: normal !important;
      font-weight: normal !important;
      font-size: 16px !important;
      line-height: 20px !important;
      letter-spacing: 0.25px !important;   
      color:#2E3650 !important;
}

.header{
   height: 80px;
}


.bodyResumen {
   margin-top: 5% !important;
   margin-left: 5% !important;
 }
 
.headerCompraMoneda{
   background-color: #6f7281 !important; 
}

.headerTitulo{
   font-weight: bold !important;
   font-size: 22px !important;
   line-height: 24px !important;
   letter-spacing: 0.18px !important;
   color: #FFFFFF !important;
}

.btnClose{
   color:white !important;
}