.errorAlert{
    color: white !important;
    font-style: 'normal' !important;
    font-weight: 'bolder' !important;
    font-size: '14px' !important;
    line-height: '24px' !important;
    letter-spacing: '0.18px' !important;
    font-family: DM Sans !important;
    margin-top:'20px';
    background-color:rgb(199, 37, 37) !important;
    margin-left: 300px !important;
    width: 95% !important

}



.error{
    color: white !important;
    font-style: 'normal' !important;
    font-weight: 'bolder' !important;
    font-size: '14px' !important;
    line-height: '24px' !important;
    letter-spacing: '0.18px' !important;
    font-family: DM Sans !important;
    margin-top:'40px';
    background-color:rgb(199, 37, 37) !important;
    width: 95% !important;
    margin-left:'20px'
}
.MuiSnackbarContent-root {
    min-width: 344px !important;
    color: #fff;
    display: flex;
    padding: 6px 16px;
    flex-grow: 1;
    flex-wrap: wrap;
    font-size: 14px;
    align-items: center;
    font-family: "Titillium Web" !important;
    font-weight: 400;
    line-height: 20px;
    border-radius: 4px;
    letter-spacing: 0.25px;
    background-color: #3EBC94 !important;
}

.cerrar{
    font-family: "Titillium Web" !important;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF !important;
}

.error .MuiSnackbarContent-root{
    background-color: #B00020 !important;
}

.cardUtilsRootDia{
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: #53cfbf;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    padding: 5%;
    color: white;
}

.cardUtilsRootHs{
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: #7da4e0;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    padding: 5%;
    color: white;
}
.cardUtilsRootMes{
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: #e28e83;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    padding: 5%;
    color: white;
}

